section.Cta
		article
			h1.Cta-title Nuestro Portafolio
			p.Cta-description Algunos de nuestros trabajos
section.Portfolio
		article.Portfolio-item
			h2.Portfolio-itemTitle Galaxy Hunter X
			figure
				img.Portfolio-image(src="/static/images/GalaxyHunterApp.png" alt="")
				figcaption
			p.Portfolio-itemDescription Juego de tipo Space Shooter disponible en AppStore de iOS

		article.Portfolio-item
			h2.Portfolio-itemTitle Angemi
			figure
				img.Portfolio-image(src="/static/images/IdentidadCorporativaAngemi.png" alt="")
				figcaption
			p.Portfolio-itemDescription Identidad corporativa de Angemi Repostería y Café

		article.Portfolio-item
			h2.Portfolio-itemTitle Tepetoci
			figure
				img.Portfolio-image(src="/static/images/WebSiteTepetoci.png" alt="")
				figcaption
			p.Portfolio-itemDescription Sitio Web de Tepetoci la casa de los dioses. Hotel y Spa

		article.Portfolio-item
			h2.Portfolio-itemTitle Angemi
			figure
				img.Portfolio-image(src="/static/images/WebSiteAngemi.png" alt="")
			p.Portfolio-itemDescription Sitio Web, catalogo de angemi Repostería y Café

	.WrapContentList
		include ../contact/template.jade
		include ../list/template.jade