section.Cta
		article
			h1.Cta-title Aplicaciones Móviles
			p.Cta-description Soluciones para el crecimiento de su negocio
	.Wrapper
	section.Info
		h2.Info-title Procesos
		p.Info-description Al igual que con la parte web, nos centramos en la parte de mejorar los procesos operativos o administrativos de su negocio de una manera mas rapida y sencilla haciendo uso de las tecnologías moviles.
		p.Info-description Podemos ayudarte a mejorar procesos como los antes mencionados o mas complejos dependiendo del giro de tu negocio.
		
	section.Info 
		h2.Info-title Ventas
		p.Info-description Ya sea aplicaciones para realizar pedidos y ventas directamente desde un dispositivo movil o una aplicación que genere atención por parte de posibles consumidores atrayendolos a su negocio, existen varias maneras de hacer uso de estas tecnologías para mejorar las ventas.

	section.Process
		h2.Process-title Asi creamos Aplicaciones
		div.Process-list
			ul
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Planeación
							br 
							span Desarrollo de la Idea de aplicación, con objetivos y metas acumplir.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Estructura
							br 
							span Diseño de la aplicación, es requerido dar un enfoque con base a las necesidades de nuestros usuarios, diseñando la mejor experiencia de uso de nuestro producto, para ello es necesario conocer cuales la funcionalidad de nuestra aplicación y elegir la mejor manera de presentar los datos e información a nuestros usuarios.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Producción
							br 
							span Es pasar de los bocetos y propuestas de diseño a la programación y codificación de la aplicación.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Publicación
							br 
							span Es el proceso por el cual la app es enviada, revisada y liberada para su disponibilidad en la tienda de aplicaciones.

			figure.Process-image
			img(src="" alt="")
	.WrapContentList
		include ../contact/template.jade
		div.List
				ul
					span.List-groupIcon
						li.List-group Soluciones moviles y web para mejorar los procesos de compra, venta y administración de su negocio.
					span.List-groupIcon
						li.List-group Proyectos web con diseño adaptable  en telefonos y en tablets para su mejorvisualización.
					span.List-groupIcon
						li.List-group Diseño personalizado a su concepto de negocio.
					span.List-groupIcon
						li.List-group Campañas dirigidas al publico objetivo de su negocio. En las redes de busqueda y de display de Google y tambien en redes sociales.