section.Cta
		article
			h1.Cta-title Diseño
			p.Cta-description Mejoramos el aspecto de su marca e identidad corporativa
	.Wrapper
	section.Info
		h2.Info-title Diseño de marca
		p.Info-description Nos basamos en composición, formas, teoría del color y psicología del color para diseñar una marca que sea un factor diferenciador al resto de su competencia.
		p.Info-description Entregamos manual de identidad corporativa que explica los componentes de su marca, colores, tamaños y usos correctos e incorrectos.
		
	section.Info 
		h2.Info-title Identidad Corporativa
		p.Info-description Es el aplicar el diseño de su marca, colores y formas en elementos de su negocio, como por ejemplo: plantillas de presentaciones y documentos digitales, papelería como facturas y notas.
		p.Info-description Estas aplicaciones dependen del giro de su negocio.

	section.Process
		h2.Process-title Asi es como Diseñamos
		div.Process-list
			ul
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Planeación
							br 
							span En esta etapa nos sentamos con usted para conocer el concepto de su negocio y conocer que es lo que quiere reflejar en su marca.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Propuestas
							br 
							span Con base a los datos obtenidos comenzamos a diseñar 3 propuestas posibles
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Retro Alimentación
							br 
							span Presentamos y platicamos con usted las propuestas e iteramos hasta que usted nuestro cliente quede convencido.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Entrega
							br 
							span Generamos los documentos y los archivos editables de los diseños para usted.

			figure.Process-image
			img(src="" alt="")
	.WrapContentList
		include ../contact/template.jade
		include ../list/template.jade