html{
	background: #f5f5f5;
}
.Header{
	background: #302f34;
	position: fixed;
	width: 100%;
	text-align: center;
	left: 0;
	top: 0;
}
	.Header-imageContainer{
		display: inline-block;
		margin: 0.5rem;
	}
		.Header-image{
		width: 200px;
		margin: 0;

		}
			
	.Menu{
		display: inline-block;

	}
		.Menu-list{
		margin: 0;
		}
			.Menu-item {
				display: inline-block;
				padding-right: 1rem;

			}
			.Menu-item a {
				text-decoration: none;
				color: #4278bc;
			}

			.Menu-item a:hover{
				color: #3eb54a;
			}

.About {
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 200px;
	text-align: center;
	margin-top: 3.5rem;

}
	.About-title {
		font-size: 2rem;
		padding-top: 4rem;
		color: white;
	}
		.About-button{
			background: #e94224;
			border-radius: 5px;
			border:none;
			color: white;

		}
.Work{
	text-align: center;
}
	.Work-item{
	display: inline-block;
	margin-right: 5rem;
	text-align: center;
	}
		.Work-title{

		}
		.Work-imageContainer{

		}
			.Work-image{

			}
				.Work-imageDescription{

				}
		.Work-Description{

		}

.Footer{
	text-align: center;
}
	.Footer-item{
		display: inline-block;
		margin-right: 5rem;
	}
		.Footer-itemTitle{

		}
		.Footer-itemDescription{

		}