@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?x9vdx4');
	src:url('../fonts/icomoon.eot?#iefixx9vdx4') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?x9vdx4') format('truetype'),
		url('../fonts/icomoon.woff?x9vdx4') format('woff'),
		url('../fonts/icomoon.svg?x9vdx4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


html{
	background: #f5f5f5;
}
.Header{
	background: #302f34;
	position: fixed;
	/*height: 100%;*/
	width: 100%;
	left: 0;
	top: 0;
}
	.Header-imageContainer{
		display: inline-block;
		margin: 0.5rem;
	}
		.Header-image{
		width: 200px;
		margin: 0;

		}

	.navicon:after{
		color: #e94224;
		content: "\e9bd";
		float: right;
		font-family: 'icomoon';
		font-size: 3rem;
		margin: 0.2rem 2rem 0 0;
		text-decoration: none;
		vertical-align: bottom;

	}
			
	.Menu{
	display: none;
	margin-top: 0.5rem;
	width: 100%;
	text-align: center;
	background: #302f34;
	}
		.Menu-list{
		margin: 0;
		padding-left: 0.02rem;
		}
			.Menu-item {
				font-size: 2rem;
				border-bottom: 3px solid #e94224;


			}
			.Menu-item a {
				display: block;
				color: #4278bc;
				text-decoration: none;
			}

			.Menu-item a:hover{
				color: #3eb54a;
				background-color: rgba(255,255,255, 1);


			}
@media screen and (min-width: 768px){
	.navicon:after{
		display: none;
	}
		.Menu{
		display: inline-block;
		margin: 0 0 1.5rem 0;
		padding: 0;
		width: 65%;
		vertical-align: middle;
		text-align: right;

	}
		.Menu-list{

		}
			.Menu-item {
				border: none;
				font-size: 1rem;
				display: inline-block;
				margin-right: 0.5Services

			}
			.Menu-item a {

				text-decoration: none;
				color: #4278bc;
			}

			.Menu-item a:hover{
				color: #3eb54a;
				background: none;
			}
}

.Cta {
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 230px;
	margin-top: 3.5rem;
	padding-top: 1rem;
	text-align: center;
	width: 100%;
	
}
	.Cta-title {
		font-size: 2rem;
		color: white;
		margin: 0;
		padding: 3rem 0 0 0;

	}
		.Cta-button{
			background: #e94224;
			border-radius: 5px;
			border:none;
			color: white;
			height: 2rem;
			margin-top: 1rem;
			width: 6rem;

		}
.Services{
	text-align: center;
	width: 100%;
}
	.Services-item{
	display: inline-block;
	margin: 0 4rem;


	}
		.Services-title{

		}

		.Services-icon{

		}

.Footer{
	text-align: center;
}
	.Footer-item{
		display: inline-block;
		margin-right: 5rem;
	}
		.Footer-itemTitle{

		}
		.Footer-itemDescription{

		}