@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?x9vdx4");
  src: url("../fonts/icomoon.eot?#iefixx9vdx4") format('embedded-opentype'), url("../fonts/icomoon.ttf?x9vdx4") format('truetype'), url("../fonts/icomoon.woff?x9vdx4") format('woff'), url("../fonts/icomoon.svg?x9vdx4#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ../fonts/
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
} */
.Contact-form {
  width: 80%;
  margin: 0 10%;
}
.Contact-formInput {
  background: #fff;
  border: none;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  display: block;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 90%;
}
.Contact-textArea {
  height: 120px;
  resize: none;
}
.Contact-button {
  background: #e94224;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  margin: 0.5rem 0;
  width: 8rem;
  height: 2rem;
}
.Contact-button:hover {
  background: #3eb54a;
}
@media screen and (min-width: 768px) {
  .Contact {
    width: 100%;
    margin: 0;
  }
  .Contact-title {
    text-align: left;
    margin: 0 0 0 10%;
  }
  .Contact {
    width: 40%;
    display: inline-block;
    margin: 0 3rem 0 0;
  }
}
.Cta {
  background-image: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 230px;
  margin-top: 3.5rem;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.Cta-title {
  font-size: 2rem;
  color: #fff;
  margin: 0;
  padding: 3rem 0 0 0;
}
.Cta-button {
  background: #e94224;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 2rem;
  margin-top: 1rem;
  width: 8rem;
}
.Cta-button:hover {
  background: #3eb54a;
}
.Cta-description {
  color: #fff;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .Cta {
    height: 300px;
  }
  .Cta-title {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .Cta-button {
    margin-top: 2rem;
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
.Footer {
  background: #fff;
  margin: 0;
  padding: 1rem 0 0 0;
}
.Footer-item {
  text-align: center;
  margin2rem: 20%;
  padding: 0;
  border-top: 3px dashed #4278bc;
}
.Footer-info {
  text-align: center;
}
.Tel:before,
.Mail:before {
  margin-right: 0.5rem;
}
.Tel:before {
  font-family: 'Flaticon';
  content: "\e008";
}
.Mail:before {
  font-family: 'Flaticon';
  content: "\e004";
}
.Social-twitter:after {
  font-family: 'Flaticon';
  content: "\e009";
  color: #59adeb;
}
.Social-facebook:after {
  font-family: 'Flaticon';
  content: "\e001";
  color: #3c5a96;
}
.Social-google:after {
  font-family: 'Flaticon';
  content: "\e002";
  color: #dd4b39;
}
.Social-items {
  font-size: 3rem;
  text-decoration: none;
}
.Subfooter {
  text-align: center;
  background: #3eb54a;
  color: #fff;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .Footer {
    text-align: center;
    width: 100%;
  }
  .Footer-info {
    text-align: left;
    margin: 0;
  }
  .Footer-item {
    display: inline-block;
    margin: 0;
    padding: 0 5%;
    border: none;
    vertical-align: top;
  }
  .Footer-button {
    font-size: 1rem;
    width: 8rem;
    height: 2rem;
    margin: 1rem 0;
  }
}
.Services {
  text-align: center;
  width: 100%;
}
.Services-item {
  display: inline-block;
  margin: 0 0.6rem;
}
.Services-title {
  display: none;
}
.Services-icon {
  background: #e94224;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2rem 0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.Services-icon a:hover {
  background: #3eb54a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.Services-iconfont {
  content: "\e006";
  color: #fff;
  display: block;
  font-family: 'Flaticon';
  font-size: 2.7rem;
  text-decoration: none;
  padding: 0 0.35rem 0.6rem 0.35rem;
}
.Services-iconfontApp:after {
  content: "\e007";
}
.Services-iconfontWeb:after {
  content: "\e00a";
}
.Services-iconfontDesign:after {
  content: "\e005";
}
.Services-iconfontMkt:after {
  content: "\e003";
}
@media screen and (min-width: 768px) {
  .Services-item {
    margin: 0 2rem;
    color: #fff;
  }
  .Services-title {
    display: block;
  }
  .Services-icon {
    width: 7rem;
    height: 7rem;
    margin: 2rem 0;
  }
  .Services-iconfont {
    font-size: 5.5rem;
    padding-bottom: 1rem;
  }
}
.About {
  padding: 2rem 0;
  background: #edecec;
}
.About-title {
  text-align: center;
}
.About-description {
  margin: 0 12% 0 15%;
}
.About-description span {
  display: block;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .About {
    text-align: center;
  }
  .About-description {
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
  }
}
.WrapContentList {
  background: #4278bc;
  padding: 1rem 0;
  text-align: center;
}
.List {
  display: none;
}
@media screen and (min-width: 768px) {
  .List {
    display: inline-block;
    text-align: left;
    width: 40%;
    vertical-align: top;
    text-decoration: none;
  }
  .List ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .List-group {
    padding: 0;
    margin: 0 0 2rem 3rem;
    text-align: left;
  }
  .List-groupIcon:before {
    font-family: 'Flaticon';
    content: "\e000";
    font-size: 2rem;
    float: left;
  }
}
.Header {
  background: #302f34;
  position: fixed;
/*height: 100%;*/
  width: 100%;
  left: 0;
  top: 0;
}
.Header-imageContainer {
  display: inline-block;
  margin: 0.5rem;
}
.Header-image {
  width: 200px;
  margin: 0;
}
.navicon:after {
  color: #e94224;
  content: "\e9bd";
  float: right;
  font-family: 'icomoon';
  font-size: 3rem;
  margin: 0.2rem 1.5rem 0;
  text-decoration: none;
  vertical-align: bottom;
}
.Menu {
  display: none;
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
  background: #302f34;
}
.Menu-list {
  margin: 0;
  padding-left: 0.02rem;
}
.Menu-item {
  font-size: 2rem;
  border-bottom: 3px solid #e94224;
}
.Menu-item a {
  display: block;
  color: #4278bc;
  text-decoration: none;
}
.Menu-item a:hover {
  color: #3eb54a;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .navicon:after {
    display: none;
  }
  .Menu {
    display: inline-block;
    margin: 0 0 1.5rem 0;
    padding: 0;
    width: 65%;
    vertical-align: middle;
    text-align: right;
  }
  .Menu-item {
    border: none;
    font-size: 1rem;
  }
  .Menu-item a {
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #4278bc;
  }
  .Menu-item a:hover {
    color: #3eb54a;
    background: none;
  }
}
html {
  background: #302f34;
}
