footer.Footer
	article.Footer-item
		h3.Footer-itemTitle Contacto
		p.Footer-itemDescription.Footer-info
			span.Tel 775-145-8699
				br
			span.Mail info@crescendopixel.com
	article.Footer-item
		h3.Footer-itemTitle Redes Sociales
		p.Footer-itemDescription
			a.Social-items(href="#")
				span.Social-twitter
			a.Social-items(href="#")
				span.Social-facebook
			a.Social-items(href="#")
				span.Social-google
	article.Footer-item
		h3.Footer-itemTitle Comienza Ya
		button.Cta-button.Footer-button Comenzar
	p.Subfooter © 2015 Crescendo Pixel