header.Header
	figure.Header-imageContainer
		a(href="/")
			img.Header-image(src="./static/images/Logo.png", alt="")
	a.navicon(href="")
		span
	nav.Menu
		ul.Menu-list
			li.Menu-item
				a.Menu-link(href="apps") Apps
				a.Menu-link(href="web")	Web
				a.Menu-link(href="diseno") Diseño
				a.Menu-link(href="marketing") Marketing
				a.Menu-link(href="portafolio") Portafolio
				a.Menu-link(href="contacto") Contacto