header.Header
	figure.Header-imageContainer
		a(href="/")
			img.Header-image(src="./static/images/Logo.png", alt="")
	a.navicon(href="")
		span
	nav.Menu
		ul.Menu-list
			li.Menu-item
				a.Menu-link(href="apps") Apps
			li.Menu-item
				a.Menu-link(href="web") Web
			li.Menu-item
				a.Menu-link(href="diseno") Diseño
			li.Menu-item
				a.Menu-link(href="marketing") Marketing
			li.Menu-item
				a.Menu-link(href="portafolio") Portafolio
			li.Menu-item
				a.Menu-link(href="contacto") Contacto