<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="../static/css/normalize.css")
	link(rel="stylesheet", href="../static/css/style.css")
	title Crescendo Pixel
body
	include ./menu/template.jade
	include ./contacto/template.jade
	include ./footer/template.jade
	script(src="http://code.jquery.com/jquery-1.11.3.min.js")
	script(src="../static/js/nav.js")