<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="../static/css/normalize.css")
	link(rel="stylesheet", href="../static/css/style.css")
	title Crescendo Pixel
body
	include ./menu/template.jade
	include ./design/template.jade
	include ./footer/template.jade
	script(type='text/javascript').
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-46112056-1', 'auto');ga('send', 'pageview');
	script(src="http://code.jquery.com/jquery-1.11.3.min.js")
	script(src="../static/js/nav.js")