section.Cta
		article
			h1.Cta-title Proyectos Web
			p.Cta-description Para hacer crecer su negocio, nos enfocamos en Procesos y Ventas
	.Wrapper
	section.Info
		h2.Info-title Procesos
		p.Info-description Imagina accesar a la información de su negocio desde tu telefono movil, las entradas de dinero al final del día, semana o mes, así como tambien el numero de clientes o que tal conocer cual de tus productos/servicios se vendieron mas.
		p.Info-description En CrescendoPixel mejoramos sus procesos procesos operativos o administrativos de su negocio usando tecnologías web haciendo posible ingresar, procesar y accesar a los resultados e información de su negocio en cualquier dispositivo que se conecte a internet sin importar el sistema operativo o navegador.
		p.Info-description Podemos ayudarte a mejorar procesos como los antes mencionados o mas complejos dependiendo del giro de tu negocio.

	section.Info 
		h2.Info-title Ventas
		p.Info-description Un sitio web ya no es solamente parar aumentar la visibilidad de su negocio, para que la gente se entere de que vende, que servicios proporciona, donde se encuentra ubicado y como ponerse en contacto.
		p.Info-description Desde hace años es posible vender directamente desde internet así como hacer pagos y recibirlos.

	section.Process
		h2.Process-title Asi creamos los proyectos web
		div.Process-list
			ul
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Planeación
							br 
							span Desarrollo de un proyecto web tiene que ver con la necesidad, de mejorar su negocio ya sea en procesos o en ventas.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Estructura
							br 
							span Hacemos uso de Responsive Web Design, este diseño se adapta las resoluciones de todos aquellos dispositivos que se conectan a internet.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Producción
							br 
							span La producción es pasar de los bocetos y propuestas de diseño a la programación y codificación del sitio web.
				span.Process-groupIcon
					li.Process-listItem
						span.Process-black Publicación y Optimización
							br 
							span El sitio es “subido” a internet, luego optimizamos el contenido para búsquedas ágiles en motores de búsquedas como Google. Despues conectamos su sitio web a la herramienta de estadísticas Google Analytics.

			figure.Process-image
			img(src="" alt="")
	.WrapContentList
		include ../contact/template.jade
		include ../list/template.jade