.Contact-form
	width 80%
	margin 0 10%

.Contact-formInput
	background white
	border none
	border-radius 0.2rem
	display block
	padding 0.5rem
	margin 1rem auto
	width 90%

.Contact-textArea
	height 120px
	resize none

.Contact-button
	background #e94224
	border none
	border-radius 5px
	color white
	margin 0.5rem 0
	width 8rem
	height 2rem

.Contact-button:hover
	background #3eb54a

@media screen and (min-width: 768px)
	.Contact
		width 100%
		margin 0

	.Contact-title
		text-align left
		margin 0 0 0 10%

	.Contact
		width 40%
		display inline-block
		margin 0 3rem 0 0

