section.Contact#contacto
	h2.Contact-title Contacto
	form.Contact-form(action="")
		input.Contact-formInput(type="text" placeholder="Nombre" required)
		input.Contact-formInput(type="email" placeholder="Email" required)
		textarea.Contact-formInput.Contact-textArea(type="textarea" placeholder="Mensaje" required)
		button.Contact-button Enviar