<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Crescendo Pixel</title>
</head>
<body>
	<header class="Header">
		<figure class="Header-imageContainer">
			<a href="/templates/home.html"><img class="Header-image" src="../static/images/Logo.png" alt=""></a>
		</figure> <a class="navicon" href=""><span ></span></a>
		<nav class="Menu">
			<ul class="Menu-list">
					<li class="Menu-item"><a class="Menu-link" href="apps.html">Apps</a></li>
					<li class="Menu-item"><a class="Menu-link" href="web.html">Web</a></li>
					<li class="Menu-item"><a class="Menu-link" href="disenio.html">Diseño</a></li>
					<li class="Menu-item"><a class="Menu-link" href="marketing.html">Marketing Online</a></li>
					<li class="Menu-item"><a class="Menu-link" href="portafolio.html">Portafolio</a></li>
					<li class="Menu-item"><a class="Menu-link" href="contacto.html">Contacto</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Blog</a></li>
			</ul>
		</nav>
	</header>
	<section class="Cta">
		<article>
			<h2 class="Cta-title">Te ayudamos a hacer crecer tu negocio</h2>		
			<button class="Cta-button">Comenzar</button>
		</article>
	</section>
	<section class="Services">
		<article class="Services-item">
			<div class="Services-icon"><a href="#" class="Services-iconfont"><span class="Services-iconfontApp"></span></a> </div>
			<h3 class="Services-title">Apps</h3>
					
		</article>
		<article class="Services-item">
			<div class="Services-icon"><a href="#" class="Services-iconfont"><span class="Services-iconfontWeb"></span></a> </div>
			<h3 class="Services-title">Web</h3>

		</article>
		<article class="Services-item">
			<div class="Services-icon"><a href="#" class="Services-iconfont"><span class="Services-iconfontDesign"></span></a> </div>
			<h3 class="Services-title">Diseño</h3>

		</article>
		<article class="Services-item">
			<div class="Services-icon"><a href="#" class="Services-iconfont"><span class="Services-iconfontMkt"></span></a> </div>
			<h3 class="Services-title">Marketing</h3>

		</article>
	</section>
	<section class="About">
		<h1 class="About-title">Crescendo Pixel</h1>
		<p class="About-description"><span>Nos encargamos de ayudarte a hacer crecer tu negocio.</span> 
		<span>Mejorando procesos de tu negocio con web y aplicaciones moviles.</span>
		<span>Renovando o creando desde cero una mejor imagen de tu marca.</span>
		<span>Aumentando la difusión de tu empresa haciendo uso de marketing online.</span></p>
	</section>
	<section class="Contact">
		<h2 class="Contact-title">Contacto</h2>
		<form class="Contact-form" action="">
			<input class="Contact-formInput" type="text" placeholder="Nombre" required/>
			<input class="Contact-formInput" type="email" placeholder="Email" required/>
			<textarea class="Contact-formInput Contact-textArea" type="textarea" placeholder="Mensaje" required></textarea>
			<button class="Contact-button">Enviar</button>
		</form>
		<div class="List">
			<ul>
				<span class="List-groupIcon"></span><li class="List-group">Soluciones moviles y web para mejorar los procesos de compra, venta y administración de su negocio.</li>
				<span class="List-groupIcon"></span><li class="List-group">Proyectos web con diseño adaptable  en telefonos y en tablets para su mejorvisualización.</li>
				<span class="List-groupIcon"></span><li class="List-group">Diseño personalizado a su concepto de negocio.</li>
				<span class="List-groupIcon"></span><li class="List-group">Campañas dirigidas al publico objetivo de su negocio. En las redes de busqueda y de display de Google y tambien en redes sociales.</li>
			</ul>
		</div>
	</section>
	<footer class="Footer">
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Contacto</h3>
			<p class="Footer-itemDescription Footer-info"><span class="Tel">775-145-8699</span> <br/>
			<span class="Mail">info@crescendopixel.com</span></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Redes Sociales</h3>
			<p class="Footer-itemDescription"><a class="Social-items" href="#"><span class="Social-twitter"></span></a> <a class="Social-items" href="#"><span class="Social-facebook"></span></a> <a class="Social-items" href="#"><span class="Social-google"></span></a></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Comienza Ya!</h3>
			<button class="Cta-button Footer-button">Comenzar</button>
		</article>
		<p class="Subfooter">© 2015 Crescendo Pixel</p>
	</footer>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../static/js/nav.js"></script>
</body>
</html>