<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Crescendo Pixel</title>
</head>
<body>
	<header class="Header">
		<figure class="Header-imageContainer">
			<img class="Header-image" src="../static/images/Logo.png" alt="">
		</figure>
		<nav class="Menu">
			<ul class="Menu-list">
					<li class="Menu-item"><a class="Menu-link" href="#">Apps</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Web</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Diseño</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Marketing Online</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Portafolio</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Contacto</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Blog</a></li>
			</ul>
		</nav>
	</header>
	<section class="About">
		<article>
			<h1 class="About-title">Te ayudamos a hacer crecer tu negocio</h1>		
			<button class="About-button">Comenzar</button>
		</article>
	</section>
	<section class="Work">
	<h2>Nuestros Servicios</h2>
		<article class="Work-item">
			<h3 class="Work-title">Aplicaciones Moviles</h3>
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../images/sample.jpg" alt="">
				<figcaption class="Work-imageDescription"></figcaption>
			</figure>
			<p class="Work-description">
				
			</p>
		</article>
		<article class="Work-item">
			<h3 class="Work-title">Proyectos Web</h3>
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../images/sample.jpg" alt="">
				<figcaption class="Work-imageDescription"></figcaption>
			</figure>
			<p class="Work-description">
				
			</p>
		</article>
		<article class="Work-item">
			<h3 class="Work-title">Diseño</h3>
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../images/sample.jpg" alt="">
				<figcaption class="Work-imageDescription"></figcaption>
			</figure>
			<p class="Work-description">
				
			</p>
		</article>
		<article class="Work-item">
			<h3 class="Work-title">Marketing Online</h3>
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../images/sample.jpg" alt="">
				<figcaption class="Work-imageDescription"></figcaption>
			</figure>
			<p class="Work-description">
				
			</p>
		</article>
	</section>
	<footer class="Footer">
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Contacto</h3>
			<p class="Footer-itemDescription"></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Redes Sociales</h3>
			<p class="Footer-itemDescription"></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Comienza</h3>
			<p class="Footer-itemDescription"></p>
		</article>
	</footer>
</body>
</html>