<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crescendo Pixel</title>
</head>
<body>
	<header>
		<figure>
			<img src="../images/logo.png" alt="">
			<figcaption></figcaption>
		</figure>
		<nav>
			<ul>
				<li>
					<a href="#">item1</a>
					<a href="#">item2</a>
					<a href="#">item3</a>
					<a href="#">item4</a>
					<a href="#">item5</a>
					<a href="#">item6</a>
					<a href="#">item7</a>
				</li>
			</ul>
		</nav>
	</header>
	<section>
		<article>
			<h2></h2>
			<figure>
				<img src="../images/sample.jpg" alt="">
				<figcaption></figcaption>
			</figure>
			<p>
				
			</p>
		</article>
	</section>
	<section>
		<article>
			<h2></h2>
			<figure>
				<img src="../images/sample.jpg" alt="">
				<figcaption></figcaption>
			</figure>
			<p>
				
			</p>
		</article>
		<article>
			<h2></h2>
			<figure>
				<img src="../images/sample.jpg" alt="">
				<figcaption></figcaption>
			</figure>
			<p>
				
			</p>
		</article>
		<article>
			<h2></h2>
			<figure>
				<img src="../images/sample.jpg" alt="">
				<figcaption></figcaption>
			</figure>
			<p>
				
			</p>
		</article>
		<article>
			<h2></h2>
			<figure>
				<img src="../images/sample.jpg" alt="">
				<figcaption></figcaption>
			</figure>
			<p>
				
			</p>
		</article>
	</section>
	<footer>
		
	</footer>
</body>
</html>