<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Crescendo Pixel</title>
</head>
<body>
	<header class="Header">
		<figure class="Header-imageContainer">
			<a href="home.html"><img class="Header-image" src="../static/images/Logo.png" alt=""></a>
		</figure> <a class="navicon" href=""><span ></span></a>
		<nav class="Menu">
			<ul class="Menu-list">
					<li class="Menu-item"><a class="Menu-link" href="apps.html">Apps</a></li>
					<li class="Menu-item"><a class="Menu-link" href="web.html">Web</a></li>
					<li class="Menu-item"><a class="Menu-link" href="disenio.html">Diseño</a></li>
					<li class="Menu-item"><a class="Menu-link" href="marketing.html">Marketing Online</a></li>
					<li class="Menu-item"><a class="Menu-link" href="portafolio.html">Portafolio</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#contacto">Contacto</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Blog</a></li>
			</ul>
		</nav>
	</header>
	<section class="Cta">
		<article>
			<h1 class="Cta-title">Nuestro Portafolio</h1>
			<p class="Cta-description">Algunos de nuestros trabajos</p>		
		</article>
	</section>

	<section class="Portfolio">
		<article class="Portfolio-item">
		<h2 class="Portfolio-itemTitle">Galaxy Hunter X</h2>
		<figure>
			<img class="Portfolio-image" src="/static/images/GalaxyHunterApp.png" alt="">
			<figcaption></figcaption>
		</figure>
		<p class="Portfolio-itemDescription">Juego de tipo Space Shooter disponible en AppStore de iOS</p>
		</article>

		<article class="Portfolio-item">
		<h2 class="Portfolio-itemTitle">Angemi</h2>
		<figure>
			<img class="Portfolio-image" src="/static/images/IdentidadCorporativaAngemi.png" alt="">
			<figcaption></figcaption>
		</figure>
		<p class="Portfolio-itemDescription">Identidad corporativa de Angemi Repostería y Café</p>
		
		</article>

		<article class="Portfolio-item">
		<h2 class="Portfolio-itemTitle">Tepetoci</h2>
		<figure>
			<img class="Portfolio-image" src="/static/images/WebSiteTepetoci.png" alt="">
			<figcaption></figcaption>
		</figure>
		<p class="Portfolio-itemDescription">Sitio Web de Tepetoci la casa de los dioses. Hotel y Spa</p>
		
		</article>

		<article class="Portfolio-item">
		<h2 class="Portfolio-itemTitle">Angemi</h2>
		<figure>
			<img class="Portfolio-image" src="/static/images/WebSiteAngemi.png" alt="">
			<figcaption></figcaption>
		</figure>
		<p class="Portfolio-itemDescription">Sitio Web, catalogo de angemi Repostería y Café</p>
		
		</article>
	</section>
		
<!-- 	<section class="About">
		<h2 class="About-title"></h2>
		<p class="About-description"></p>
	</section> -->
	<section class="Contact" id="contacto">
		<h2 class="Contact-title">Contacto</h2>
		<form class="Contact-form" action="">
			<input class="Contact-formInput" type="text" placeholder="Nombre" required/>
			<input class="Contact-formInput" type="email" placeholder="Email" required/>
			<textarea class="Contact-formInput Contact-textArea" type="textarea" placeholder="Mensaje" required></textarea>
			<button class="Contact-button">Enviar</button>
		</form>
		<div class="List">
			<ul>
				<span class="List-groupIcon"></span><li class="List-group">Soluciones moviles y web para mejorar los procesos de compra, venta y administración de su negocio.</li>
				<span class="List-groupIcon"></span><li class="List-group">Proyectos web con diseño adaptable  en telefonos y en tablets para su mejorvisualización.</li>
				<span class="List-groupIcon"></span><li class="List-group">Diseño personalizado a su concepto de negocio.</li>
				<span class="List-groupIcon"></span><li class="List-group">Campañas dirigidas al publico objetivo de su negocio. En las redes de busqueda y de display de Google y tambien en redes sociales.</li>
			</ul>
		</div>
	</section>
	<footer class="Footer">
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Contacto</h3>
			<p class="Footer-itemDescription Footer-info"><span class="Tel">775-145-8699</span> <br/>
			<span class="Mail">info@crescendopixel.com</span></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Redes Sociales</h3>
			<p class="Footer-itemDescription"><a class="Social-items" href="#"><span class="Social-twitter"></span></a> <a class="Social-items" href="#"><span class="Social-facebook"></span></a> <a class="Social-items" href="#"><span class="Social-google"></span></a></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Comienza Ya!</h3>
			<button class="Cta-button Footer-button">Comenzar</button>
		</article>
		<p class="Subfooter">© 2015 Crescendo Pixel</p>
	</footer>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../static/js/nav.js"></script>
</body>
</html>