<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Crescendo Pixel</title>
</head>
<body>
	<header class="Header">
		<figure class="Header-imageContainer">
			<a href="#"><img class="Header-image" src="../static/images/Logo.png" alt=""></a>
		</figure> <a class="navicon" href=""><span ></span></a>
		<nav class="Menu">
			<ul class="Menu-list">
					<li class="Menu-item"><a class="Menu-link" href="#">Apps</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Web</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Diseño</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Marketing Online</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Portafolio</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Contacto</a></li>
					<li class="Menu-item"><a class="Menu-link" href="#">Blog</a></li>
			</ul>
		</nav>
	</header>
	<section class="Cta">
		<article>
			<h1 class="Cta-title">Proyectos Web</h1>
			<p class="Cta-description">Para mejorar o hacer crecer su negocio, en Crescendo Pixel nos enfocamos en Procesos y Ventas</p>		
		</article>
	</section>
	<section class="Info">
		<h2 class="Info-title">Procesos</h2>
		<p class="Info-description">Imagina accesar a la información de tu negocio desde tu telefono movil, las entradas de dinero al final del día, semana o mes, así como tambien el numero de clientes o que tal conocer cual de tus productos/servicios se vendieron mas.</p>
		<p class="Info-description">En CrescendoPixel mejoramos los procesos  haciendo uso de tecnologías web haciendo posible accesar a la información y resultados de tu negocio en cualquier dispositivo que se conecte a internet sin importar el sistema operativo o navegador.</p>
		<p class="Info-description">Podemos ayudarte a mejorar procesos como los antes mencionados o mas complejos dependiendo del giro de tu negocio.</p>
		
	</section>
		<section class="Info">
		<h2 class="Info-title">Ventas</h2>
		<p class="Info-description">Un sitio web ya no es solamente parar aumentar la visibilidad de su negocio, para que la gente se entere de que vende, que servicios proporciona, donde se encuentra ubicado y como ponerse en contacto.</p>
		<p class="Info-description">Desde hace años es posible vender directamente desde internet así como hacer pagos y recibirlos. </p>
		
	</section>
		<section class="Proccess">
		<h2 class="proccess-title">Asi creamos nuestros proyectos web</h2>
				<div class="Proccess-list">
			<ul>
				<span class="Proccess-groupIcon"></span><li class="List-group">Desarrollo de un proyecto web tiene que ver con la necesidad, de mejorar su negocio ya sea en procesos o en ventas.</li>
				<span class="Process-groupIcon"></span><li class="List-group">Hoy en día la navegación web es usada en teléfonos móviles y tabletas no solo laptop y pc’s de escritorio. Para ello hacemos uso de Responsive Web Design, este diseño se adapta las resoluciones de todos aquellos dispositivos que se conectan a internet para visualizar una web.</li>
				<span class="Process-groupIcon"></span><li class="List-group">La producción es pasar de los bocetos y propuestas de diseño a la programación y codificación del sitio web.</li>
				<span class="Process-groupIcon"></span><li class="List-group">Es el proceso por el cual el sitio es “subido” a internet en http://www.SitioWeb.com, una vez haciendo esto optimizamos el contenido para búsquedas ágiles en motores de búsquedas como Google. También conectamos su sitio web a la herramienta de estadísticas Google Analytics que hace posible saber información sobre las visitas al sitio web.</li>
			</ul>
		</div>
		
	</section>
	<section class="About">
		<h2 class="About-title"></h2>
		<p class="About-description"></p>
	</section>
	<section class="Contact">
		<h2 class="Contact-title">Contacto</h2>
		<form class="Contact-form" action="">
			<input class="Contact-formInput" type="text" placeholder="Nombre" required/>
			<input class="Contact-formInput" type="email" placeholder="Email" required/>
			<textarea class="Contact-formInput Contact-textArea" type="textarea" placeholder="Mensaje" required></textarea>
			<button class="Contact-button">Enviar</button>
		</form>
		<div class="List">
			<ul>
				<span class="List-groupIcon"></span><li class="List-group">Soluciones moviles y web para mejorar los procesos de compra, venta y administración de su negocio.</li>
				<span class="List-groupIcon"></span><li class="List-group">Proyectos web con diseño adaptable  en telefonos y en tablets para su mejorvisualización.</li>
				<span class="List-groupIcon"></span><li class="List-group">Diseño personalizado a su concepto de negocio.</li>
				<span class="List-groupIcon"></span><li class="List-group">Campañas dirigidas al publico objetivo de su negocio. En las redes de busqueda y de display de Google y tambien en redes sociales.</li>
			</ul>
		</div>
	</section>
	<footer class="Footer">
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Contacto</h3>
			<p class="Footer-itemDescription Footer-info"><span class="Tel">775-145-8699</span> <br/>
			<span class="Mail">info@crescendopixel.com</span></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Redes Sociales</h3>
			<p class="Footer-itemDescription"><a class="Social-items" href="#"><span class="Social-twitter"></span></a> <a class="Social-items" href="#"><span class="Social-facebook"></span></a> <a class="Social-items" href="#"><span class="Social-google"></span></a></p>
		</article>
		<article class="Footer-item">
			<h3 class="Footer-itemTitle">Comienza Ya!</h3>
			<button class="Cta-button Footer-button">Comenzar</button>
		</article>
		<p class="Subfooter">© 2015 Crescendo Pixel</p>
	</footer>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../static/js/nav.js"></script>
</body>
</html>