.Services
	text-align center
	width 100%

.Services-item
	display inline-block
	margin 0 0.6rem

.Services-title
	display none

.Services-icon
	background #e94224
	width 3.5rem
	height 3.5rem
	margin 2rem 0
	border-radius 10px

.Services-icon a:hover
	background #3eb54a
	border-radius 10px

.Services-iconfont
	content "\e006"
	color white
	display block
	font-family 'Flaticon'
	font-size 2.7rem
	text-decoration none
	padding 0 0.35rem 0.6rem 0.35rem

.Services-iconfontApp:after
	content "\e007"

.Services-iconfontWeb:after
	content "\e00a"

.Services-iconfontDesign:after
	content "\e005"

.Services-iconfontMkt:after
	content "\e003"

@media screen and (min-width: 768px)
	.Services-item
		margin 0 2rem
		color white

	.Services-title
		display block

	.Services-icon
		width 7rem
		height 7rem
		margin 2rem 0

	.Services-iconfont
		font-size 5.5rem
		padding-bottom 1rem

.About 
	padding 2rem 0
	background #edecec

.About-title
	text-align center

.About-description 
	margin 0 12% 0 15%
	
.About-description span
	display block
	margin-bottom 1rem
	
@media screen and (min-width: 768px)
	.About
		text-align center

	.About-description 
		font-size 1.2rem
		width 100%
		margin 0 auto

.WrapContentList
	background #4278bc
	padding 1rem 0
	text-align center