section.Services
	article.Services-item
		.Services-icon
			a.Services-iconfont(href="#")
				span.Services-iconfontApp
		h3.Services-title Apps
	article.Services-item
		.Services-icon
			a.Services-iconfont(href="#")
				span.Services-iconfontWeb
		h3.Services-title Web
	article.Services-item
		.Services-icon
			a.Services-iconfont(href="#")
				span.Services-iconfontDesign
		h3.Services-title Diseño
	article.Services-item
		.Services-icon
			a.Services-iconfont(href="#")
				span.Services-iconfontMkt
		h3.Services-title Marketing
	section.About
		h1.About-title Crescendo Pixel
		p.About-description 
			span Nos encargamos de ayudarte a hacer crecer tu negocio.
			span Mejorando procesos de tu negocio con web y aplicaciones moviles.
			span Renovando o creando desde cero una mejor imagen de tu marca.
			span Aumentando la difusión de tu empresa haciendo uso de marketing online.
	section.Contact#contacto
		h2.Contact-title Contacto
		form.Contact-form(action="")
			input.Contact-formInput(type="text" placeholder="Nombre" required)
			input.Contact-formInput(type="email" placeholder="Email" required)
			textarea.Contact-formInput.Contact-textArea(type="textarea" placeholder="Mensaje" required)
			button.Contact-button Enviar
		.List
			ul
				span.List-groupIcon
					li.List-group Soluciones moviles y web para mejorar los procesos de compra, venta y administración de su negocio.
				span.List-groupIcon
					li.List-group Proyectos web con diseño adaptable  en telefonos y en tablets para su mejorvisualización.
				span.List-groupIcon
					li.List-group Diseño personalizado a su concepto de negocio.
				span.List-groupIcon
					li.List-group Campañas dirigidas al publico objetivo de su negocio. En las redes de busqueda y de display de Google y tambien en redes sociales.