.Cta 
	background-image url('../images/portada.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 230px
	margin-top 3.5rem
	padding-top 1rem
	text-align center
	width 100%

.Cta-title
	font-size 2rem
	color white
	margin 0
	padding 3rem 0 0 0

.Cta-button
	background #e94224
	border-radius 5px
	border none
	color white
	height 2rem
	margin-top 1rem
	width 8rem

.Cta-button:hover
	background #3eb54a

.Cta-description
	color white
	font-size 1.5rem

@media screen and (min-width: 768px)
	.Cta 
		height 300px
		
	.Cta-title 
		font-size 3rem
		margin-top 1rem
		
	.Cta-button
		margin-top 2rem
		width 12rem
		height 3rem
		font-size 1.5rem
	
