.List
	ul
		span.List-groupIcon
			li.List-group Soluciones moviles y web para mejorar los procesos de compra, venta y administración de su negocio.
		span.List-groupIcon
			li.List-group Proyectos web con diseño adaptable  en telefonos y en tablets para su mejor visualización.
		span.List-groupIcon
			li.List-group Diseño personalizado a su concepto de negocio.
		span.List-groupIcon
			li.List-group Campañas dirigidas al publico objetivo de su negocio. En las redes de busqueda y de display de Google y tambien en redes sociales.